<div class="containerItemCart">
    <mat-expansion-panel [expanded]=false class="panel">
        <mat-expansion-panel-header class="header">
            <mat-panel-title>
                {{movieTitle}}
            </mat-panel-title>
            <mat-panel-description class="description">
                <div>
                    Cout total : {{totalCost}}
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="cover inlineClass" [ngStyle]="moviePreviewImage">
        </div>
        <div class="inlineClass">
        <div >
            Nombre d'unités : {{numberOfItems}}
        </div>
        <div >
            Cout unitaire : {{unitCost}}
        </div>
        <div >
            Cout total : {{totalCost}}
        </div>
     </div>
    </mat-expansion-panel>
    <button mat-raised-button color="warn" (click)="removeItem()"><mat-icon>remove_shopping_cart</mat-icon></button>
    <input class="countChanger" matInput [formControl]="countChanger" required />
    <button mat-raised-button color="primary" (click)="addItem()"><mat-icon>add_shopping_cart</mat-icon></button>
</div>