<div class="containerItemCart">
    <mat-expansion-panel [expanded]=false class="panel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{movieTitle}}
            </mat-panel-title>
            <mat-panel-description class="description">
                <div>
                    Cout total : {{totalCost}}
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="cover inlineClass" [ngStyle]="moviePreviewImage">
        </div>
        <div class="inlineClass">
            Nombre d'unités : {{numberOfItems}}
        </div>
        <div class="inlineClass">
            Cout unitaire : {{unitCost}}
        </div>
        <div class="inlineClass">
            Cout total : {{totalCost}}
        </div>
    </mat-expansion-panel>
</div>