
.containerItemCart{
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.panel{
    background-color: lightgray ;
    box-shadow: 0px 0px 10px;
}
.header{
    background-color: lightgray !important;
}
.cover {
    background-size: 134px 196px;
    width: 134px;
    height: 196px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px;
    opacity: 1;
}
.countChanger{
    border:none ;
    background-color: lightgray;
    border-radius: 5px ;
    margin: 5px ;
    vertical-align: middle ;
    width: 35px ;
    height: 35px;
    text-align: center;
    font-size: 15px;
    color:black;
}
.inlineClass{
    display: inline-block;
    margin-right: 10px;
}
.description div{
    margin-right: 10px;
}
