
<div [class.dark]="!lightMode" class="Title">Administration</div>

<div [class.dark]="!lightMode" class="ControlPanel">
    <mat-tab-group [class.dark]="!lightMode">
        <mat-tab [class.dark]="!lightMode" class="header" label="Utilisateurs">
            <app-usersadm [class.dark]="!lightMode"></app-usersadm>
        </mat-tab>
        <mat-tab [class.dark]="!lightMode" class="header" label="Films">
            <app-moviesadm [class.dark]="!lightMode"></app-moviesadm>
        </mat-tab>
        <mat-tab [class.dark]="!lightMode" class="header" label="Données">
            <app-datamovieadm [class.dark]="!lightMode"></app-datamovieadm>
        </mat-tab>
    </mat-tab-group>
</div>