.Title{
    margin-top: 25px;
    text-align: center;
    font-weight: 900;
    font-family: fantasy;
}

.ControlPanel{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
}