<div class="passwordResetContainer" *ngIf="!expiredToken">
    <mat-grid-list cols="1" [class.dark]="!lightMode">
        <p class="psswdChangeLabel">Veuillez remplir les champs suivants pour changer votre mot de passe :</p>
        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>Nouveau mot de passe</mat-label>
                <input matInput placeholder="Entrer votre nouveau mot de passe" [formControl]="newPasswd" required
                [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Cacher le mot de passe'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="newPasswd.errors?.required">Champ requis</mat-error>
                <mat-error *ngIf="newPasswd.errors?.minlength">Mot de passe trop court</mat-error>
                <mat-error *ngIf="newPasswd.errors"></mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>Confirmer le nouveau mot de passe</mat-label>
                <input matInput placeholder="Confirmez votre mot de passe"
                    onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                    [formControl]="confPasswd" required type="password" (input)="confPasswdCheck()">
                <button mat-button *ngIf="confPasswd.value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="confPasswd.setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="confPasswd.errors?.required">Champ requis</mat-error>
                <mat-error *ngIf="confPasswd.errors?.unmatch">Mots de passe differents</mat-error>
                <mat-error *ngIf="confPasswd.errors"></mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-spinner *ngIf="loading" diameter="30"></mat-spinner>

    </mat-grid-list>
    
    <mat-grid-tile class="buttons"  [class.dark]="lightMode">
        <button mat-raised-button (click)="changePassword()">Changer Votre mot de passe</button>
    </mat-grid-tile>
</div>

<div class="expiredToken" *ngIf="expiredToken">
    <mat-grid-list cols="1" [class.dark]="!lightMode">
        <p class="expiredTokenLabel">Ce lien a expiré, envoyer un nouveau mail afin de changer votre mot de passe.</p>
        <mat-grid-tile class="buttons"  [class.dark]="lightMode">
            <button mat-raised-button (click)="reSend()">Envoyer</button>
        </mat-grid-tile>
    </mat-grid-list>
</div>