
<mat-toolbar>
    <button mat-icon-button (click)="toggleMenu()"><mat-icon>menu</mat-icon></button>
    <div>
        <span class="title">EZ movie</span>
    </div>
    <span class="spacer"></span>
    <div class="search-container">
        <mat-form-field>
            <input matInput placeholder="Search" [(ngModel)]="textValue" id="textValue" (input)="initiateSearch()" (keyup.enter)="initiateSearch()">
        </mat-form-field>
            <button mat-button (click)="initiateSearch()">
                <mat-icon>search</mat-icon>
            </button>
    </div>
    <span class="spacer"></span>
    <button mat-button (click)="shop()">
        <mat-icon>shopping_cart</mat-icon>
    </button>
    <button *ngIf="!currentUser" class="SmallSettings" mat-button (click)="openConnexionDialog()">Connexion</button>
    <button *ngIf="!currentUser" class="SmallSettings" mat-button (click)="openInscriptionDialog()">Inscription</button>
    <button *ngIf="currentUser"  class="SmallSettings" mat-button (click)="disconnect()">Deconnexion</button>
</mat-toolbar>