.icon {
    padding: 0 14px;
}

.spacer {
    flex: 1 1 auto;
}

.title{
    position: relative;
}

.search-container {
    padding-top: 20px;
}

.search-container mat-form-field{
    width: 50vw;
}

.search-container input{
    font-size: 12px;
}

button{
   min-width: 0px;
}

@media (max-width: 986px)  {
    button{
        padding: 0 7px;
     }
}

@media (max-width: 937px)  {
    .search-container{
        font-size: 10px;
        padding-top: 5px;
    }
    .SmallSettings{
        font-size: 12px;
        padding:2px;
    }
}

@media (max-width: 839px)  {
    mat-toolbar{
        height: 40px;
        padding-right: 10px;
    }
    .search-container mat-form-field{
        width: 25vw;
    }
    .SmallSettings{
        font-size: 10px;
        padding:2px;
    }
    button{
        min-width: 0px;
        padding: 0 7px;
    }
}

@media (max-width: 450px)  {
    mat-toolbar{
        height: 40px;
        padding: 0px;
    }
    
    .search-container mat-form-field{
        width: 33vw;
    }

    .search-container .SmallSettings{
        padding-left:10px !important;
    }
    .SmallSettings{
        font-size: 10px;
        padding:0px;
    }
    button{
        font-size: 10px;
        min-width: 20px;
        padding: 0px 3px;
        margin-right: 0px;
    }
    button.sunandcart{
        text-align: center;
        margin-right: 15px !important;
        height: 30px;
    }
    .mat-badge-medium.mat-badge-above .mat-badge-content{
        top:-6px;
    }
    .mat-badge-medium .mat-badge-content{
        width: 15px;
        height: 15px;
        font-size: 10px;
        line-height: 15px;
    }
    .material-icons{
        font-size: 20px;
    }
}