
<mat-toolbar>
    <button mat-icon-button (click)="toggleMenu()"><mat-icon>menu</mat-icon></button>
    <div>
        <button class="title" mat-button routerLink="/home">
            <span>EZ movie</span>
        </button>
    </div>
    <span *ngIf="!SmallSettingsNoButtons || showSearchBar" class="spacer"></span>
    <div class="search-container">
        <div *ngIf="showSearchBar">
            <mat-form-field>
                <input matInput placeholder="Search" [(ngModel)]="textValue" id="textValue" (input)="initiateSearch()" (keyup.enter)="initiateSearch()">
            </mat-form-field>
            <button  mat-button (click)="openFilterBar()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
        <div [class.SmallSettings]="!SmallSettingsNoButtons" *ngIf="!showSearchBar">
            <button class="SmallSettings" mat-button routerLink="/movies">
                <span *ngIf="!SmallSettingsNoButtons" >Aller sur la page des films </span>
                <mat-icon>movie</mat-icon>
            </button>
        </div>
    </div>
    <span class="spacer"></span>
    <button mat-button class="sunandcart" *ngIf="!lightModeEvent"(click)="ChangeWebMode()">
        <mat-icon>wb_sunny</mat-icon>
    </button>
    <button mat-button class="sunandcart" *ngIf="lightModeEvent" (click)="ChangeWebMode()">
        <mat-icon>nights_stay</mat-icon>
    </button>
    <button mat-button class="sunandcart" (click)="goToCart()">
        <mat-icon [matBadge]="this.numberOfItemsService.getNumberOfItemsInCart" matBadgePosition="above after">
            <mat-icon>shopping_cart</mat-icon>
         </mat-icon>
    </button>
    <button *ngIf="!currentUser && !SmallSettingsNoButtons" class="SmallSettings" mat-button (click)="openLoginDialog()">Connexion</button>
    <button *ngIf="!currentUser && !SmallSettingsNoButtons" class="SmallSettings" mat-button routerLink="/register">Inscription</button>
    <button *ngIf="currentUser && !SmallSettingsNoButtons"  class="SmallSettings" mat-button (click)="disconnect()">Deconnexion</button>
</mat-toolbar>