.changepassword-container {
    display: flex;
    flex-direction: column;
}

.forgetPasswordButton{
    cursor: pointer;
}

.alertError{
    color: red;
}
.changepassword-container .mat-form-field{
    width:100%;
    padding-top: 10px;
}

.forgetPassword-field{
    width:100%;
}

.forgetPassword-container p{
    margin: 0px;
}
.forgetPasswordButton{
    display: inline-block;
    text-decoration: underline;
    width: 125px !important;
    margin: 0px;
    padding: 0px 5px;
    background: none;
    border: none;
    color: rgba(0,0,0,.6);
}

.parentButtonChangepassword,.parentSendEmail{
    text-align: center;
}
.buttonChangePassword,.sendEmail{
    display: inline-block;
    color: green;
    padding: 0px 10px;
}
mat-spinner{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width:450px){
    .forgetPassword-container p{
        font-size: 12px;
    }
}
