<div *ngIf="!isForgetPassword" class="changepassword-container">
    <mat-form-field>
        <input matInput placeholder="Entrer votre ancien mot de passe" [formControl]="oldPasswd" required
          [type]="hide ? 'password' : 'text'">
          <mat-error *ngIf="oldPasswd.errors?.required">Champ requis</mat-error>
          <mat-error *ngIf="oldPasswd.errors?.unmatch">Mot de passe incorrect</mat-error>
          <mat-error *ngIf="oldPasswd.errors"></mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Cacher le mot de passe'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Entrer votre nouveau mot de passe" [formControl]="newPasswd" required
          [type]="hide ? 'password' : 'text'">
          <mat-error *ngIf="newPasswd.errors?.required">Champ requis</mat-error>
          <mat-error *ngIf="newPasswd.errors?.minlength">Mot de passe trop court</mat-error>
          <mat-error *ngIf="newPasswd.errors"></mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Cacher le mot de passe'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Confirmez votre mot de passe"
                    onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                    [formControl]="confPasswd" required type="password" (input)="confPasswdCheck()">
                <button mat-button *ngIf="confPasswd.value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="confPasswd.setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="confPasswd.errors?.required">Champ requis</mat-error>
                <mat-error *ngIf="confPasswd.errors?.unmatch">Mots de passe differents</mat-error>
                <mat-error *ngIf="confPasswd.errors"></mat-error>
      </mat-form-field>
      <div class="parentButtonChangepassword">
        <button class="buttonChangePassword" mat-button color="primary"
          (click)="changePassword()">Envoyer</button>
        <div *ngIf="error" class="alertError">{{error}}</div>
        
        <mat-spinner *ngIf="loading" diameter="30"></mat-spinner>
      </div><div class="parentButtonChangepassword">
        <button class="forgetPasswordButton" (click)="forgetPassword()">Mot de passe oublié ?</button>
      </div>
      
</div>
<div *ngIf="isForgetPassword" class="forgetPassword-container">
    <p class="header">Veuillez entrer votre email ci-dessous. Vous recevrez un email contenant un nouveau mot de passe
      temporaire</p>
    <mat-form-field class="forgetPassword-field">
      <input matInput placeholder="Email" [formControl]="emailForgetPassword" required>
      <mat-error *ngIf="emailForgetPassword.invalid">{{getErrorEmailForgetPassword()}}</mat-error>
    </mat-form-field>
    <div class="parentSendEmail">
      <button class="sendEmail" mat-button color="primary"
        (click)="sendEmailForggetPassword()">Envoyer</button>
      <div *ngIf="error" class="alertError">{{error}}</div>
      <mat-spinner *ngIf="loading" diameter="30"></mat-spinner>
    </div>
  </div>
