<div class="movieCardContainer">
    <div class="playercontainer">
        <mat-carousel [autoplay]="false" maxWidth="auto" proportion="25" slides="trailers.length()" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="false" [useMouseWheel]="false" orientation="ltr">
            <mat-carousel-slide #matCarouselSlide *ngFor="let trailer of trailers" overlayColor="#00000040" [hideOverlay]="false">
                <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(trailer.trailer_path)" frameborder="0" allowfullscreen></iframe>
            </mat-carousel-slide>
        </mat-carousel>
    </div>
    <div class="actionContainer">
        <p class="title">
            {{title}}
        </p>
        <p class="yearAndDuration">
            {{date}}
        </p>
        <p class="yearAndDuration">
            {{duration}}min
        </p>
        <p class="realisators">
            Par :<span *ngFor="let realisator of (realisators) let isLast=last">{{realisator.author_firstname}} {{realisator.author_lastname}}{{isLast ? '' : ', '}} </span>
        </p>
        <p class="actors">
            Avec :<span *ngFor="let actor of (actors) let isLast=last">{{actor.actor_firstname}} {{actor.actor_lastname}}{{isLast ? '' : ', '}} </span>
        </p>
        <p class="categories">
            Catégorie :<span *ngFor="let category of (categories) let isLast=last">{{category.category_title}}{{isLast ? '' : ', '}} </span>
        </p>
        <p class="synopsis">
            {{synopsis}}
        </p>
        <div>
            <div class="rating">
                <star-rating [value]=(rating) checkedcolor="gold" uncheckedcolor="grey" size="15px" readonly="true">
                </star-rating>
            </div>
            <div class="rating">{{rating}}/5</div>
        </div>
        <p class="nowMore">
            <a href="/nowMore/">En savoir plus</a>
        </p>
        <button *ngIf="authenticationService.currentUserValue" mat-raised-button color="primary" class="addCartButton" (click)="addToCart()">
            <span>Ajouter au panier</span>
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </div>
    <div class="closebtn">
        <button mat-icon-button (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>