<div class="movieContainer">
    <div class="player">
        <iframe width="800" height="400" src="https://www.youtube.com/embed/0ZD711IkW1g?autoplay=1&rel=0&showinfo=0&controls=0&iv_load_policy=3&modestbranding=1" frameborder="0"  allowfullscreen></iframe>
    </div>
    <div class="actionContainer">
        <p class="title">
            {{title}}
        </p>
        <p class="yearAndDuration">
            {{year}} {{duration}}
        </p>
        <p class="synopsis">
            {{synopsis}}
        </p>
        <div>
            <div class="rating">
                <star-rating [value]=rating checkedcolor="gold" uncheckedcolor="grey" size="15px" readonly="true">
                </star-rating>
            </div>
            <div class="rating">{{rating}}/5</div>
        </div>
        <p class="nowMore">
            <a href="/nowMore/">En savoir plus</a>
        </p>
        <button mat-button class="addCartButton" (click)="addToCart()">
            <span>Ajouter au panier</span>
            <mat-icon>shopping_cart</mat-icon>
        </button>
        
    </div>
    <div class="closebtn">
        <button mat-icon-button (click)="ngOnDestroy()"><mat-icon>close</mat-icon></button>
    </div>
</div>