<div [class.dark]="!lightMode" class="movieCardContainer">
    <div class="actionContainer">
        <p class="title">
            {{title}}
        </p>
        <p class="yearAndDuration">
            {{date}}
        </p>
        <p class="yearAndDuration">
            {{duration}}min
        </p>
        <p class="realisators">
            Par :<span *ngFor="let realisator of (realisators) let isLast=last">{{realisator.authorFirstName}}
                {{realisator.authorLastName}}{{isLast ? '' : ', '}} </span>
        </p>
        <p class="actors">
            Avec :<span *ngFor="let actor of (actors) let isLast=last">{{actor.actorFirstName}}
                {{actor.actorLastName}}{{isLast ? '' : ', '}} </span>
        </p>
        <p class="categories">
            Catégorie :<span
                *ngFor="let category of (categories) let isLast=last">{{category.categoryTitle}}{{isLast ? '' : ', '}}
            </span>
        </p>
        <p class="synopsis">
            {{synopsis}}
        </p>
        <div>
            <div class="rating">
                <span>Note des critiques : </span>
                <star-rating [value]=(ratingValueCritique) checkedcolor="gold" uncheckedcolor="grey" size="12px" [readonly]="readonly">
                </star-rating>
            </div>
            <div class="rating">{{ratingValueCritique}}/5</div>
        </div>
        <div>
            <div class="rating">
                <span>Note des utilisateurs : </span>
                <star-rating [value]=(ratingValueUsers) checkedcolor="gold" uncheckedcolor="grey" size="12px" [readonly]="readonly">
                </star-rating>
            </div>
            <div class="rating">{{ratingValueUsers}}/5</div>
        </div>
        <div *ngIf="DidBuy">
            <div class="rating">
                <span>Votre note : </span>
                <star-rating [value]=(ratingValueCurrentUser) (rate)="onRate($event)" checkedcolor="gold" uncheckedcolor="grey" size="12px" [readonly]="false">
                </star-rating>
            </div>
            <div class="rating">{{ratingValueCurrentUser}}/5</div>
        </div>
        <button *ngIf="authenticationService.currentUserValue" mat-raised-button color="primary" class="addCartButton"
            (click)="addToCart()">
            <span>Ajouter au panier</span>
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <div>
            <button mat-button color="primary" routerLink="/movies">
                <mat-icon>arrow_back</mat-icon>
                <span>Retour</span>
            </button>
        </div>
        <div class="playercontainer">
            <iframe [src]="safeContent" allowfullscreen></iframe>
        </div>
    </div>
    <div class="closebtn">
        <button mat-icon-button routerLink="/movies">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="containerComment">
        <div *ngFor="let comment of Comments">
          <div class="CommentRow">
            <div class="userdetails">
              <mat-icon class="userIcon">person_outline</mat-icon>
              <span>{{comment.Username}}</span>
            </div>
            <div class="UserComment">
              <span *ngIf="comment.Username !== this.user"
                >{{comment.UserComment}}</span
              >
              <mat-form-field
                class="textAreaContainer"
                *ngIf="comment.Username === this.user"
              >
                <textarea class="textareaField" matInput cdkTextareaAutosize>
      {{comment.UserComment}}</textarea
                >
              </mat-form-field>
            </div>
            <div *ngIf="comment.ImageComment?.length > 0" class="ContainerImages">
                <div class="Images">
                  <div *ngFor="let image of comment.ImageComment">
                    <img [src]="image.url" />
                    <button
                      *ngIf="comment.Username === this.user"
                      class="buttonDeleteImage"
                      mat-icon-button
                      (click)="DeleteImage(comment,image)"
                    >
                      <mat-icon class="buttonClear">clear</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <div class="actionButtonsContaiener" *ngIf="comment.Username === this.user">
                <mat-form-field class="buttonsActionsCommentUser">
                  <button
                    (click)="DeleteComment(comment)"
                    class="buttonDelete"
                    mat-raised-button
                  >
                    Supprimer<mat-icon class="icones">clear</mat-icon>
                  </button>
                  <button
                    mat-raised-button
                    class="buttonLoadFile"
                    (click)="fileInput.click()"
                  >
                    Ajouter une image<mat-icon class="icones">attach_file</mat-icon>
                  </button>
                  <input
                    hidden
                    (change)="onFileSelected()"
                    #fileInput
                    type="file"
                    id="file"
                  />
                  <button
                    (click)="SaveComment(comment)"
                    class="buttonSave"
                    mat-raised-button
                  >
                    Sauvarder<mat-icon class="icones">save</mat-icon>
                  </button>
                </mat-form-field>
              </div>
          </div>
        
        </div>
      </div>
      
</div>