<div [class.dark]="!lightMode" class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container  [class.dark]="!lightMode" class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 40 : 0">
    <mat-sidenav [class.dark]="!lightMode" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="40">
      <mat-nav-list [class.dark]="!lightMode">
        <a [class.dark]="!lightMode" mat-list-item routerLink="/home">
          <mat-icon>home</mat-icon><span class="distanceLogo">Accueil</span>
        </a>
        <a [class.dark]="!lightMode" mat-list-item routerLink="/movies">
          <mat-icon>movie</mat-icon><span class="distanceLogo">Films</span>
        </a>
        <a [class.dark]="!lightMode" mat-list-item routerLink="/userCart">
          <mat-icon>shopping_cart</mat-icon><span class="distanceLogo">Panier</span>
        </a>
        <a [class.dark]="!lightMode" mat-list-item *ngIf="currentUser" routerLink="/userDetails">
          <mat-icon>face</mat-icon><span class="distanceLogo">Compte</span>
        </a>
        <a [class.dark]="!lightMode" mat-list-item *ngIf="!currentUser" (click)="openLoginDialog()">
          <mat-icon>person_outline</mat-icon><span class="distanceLogo">Connexion</span>
        </a>
        <a [class.dark]="!lightMode" mat-list-item *ngIf="!currentUser" routerLink="/register">
          <mat-icon>person_add</mat-icon><span class="distanceLogo">Inscription</span>
        </a>
        <a [class.dark]="!lightMode" mat-list-item *ngIf="currentUser" (click)="disconnect()">
          <mat-icon>exit_to_app</mat-icon><span class="distanceLogo">Deconnexion</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [class.mat-sidenav-content-drawer-open]="show">
      <div class="container" [class.dark]="!lightMode">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>