.filterbarContainer{
    text-align: center;

}
.filterbarContainer mat-form-field{
    padding-left: 10px;
    padding-top:10px;
}
.OrderByscroll{
    padding-right: 10px;
}
@media (max-width:839px){
    .filterbarContainer{
       font-size: 10px;
    }
}