.filterbarContainer{
    text-align: center;
    background-color:lightgray;
    color: black;
}
.filterbarContainer.dark{
    background-color:#666;
    color: white;
}
.filterbarContainer mat-form-field{
    padding-left: 10px;
    padding-top:10px;
}
.filterscroll{
    color: black;
}
.OrderByscroll{
    padding-right: 10px;
}
@media (max-width:921px){
    .filterbarContainer mat-form-field{
        width: 18vw !important;
    }
}
@media (max-width:839px){
    .filterbarContainer{
       font-size: 10px;
    }
    
}
@media (max-width:500px){
    .filterbarContainer mat-form-field{
        width: 14vw !important;
    }
}