.changepsswd-container {
    display: flex;
    flex-direction: column;
}

.alertError{
    color: red;
}

.parentButtonValidatepassword{
    text-align: center;
}

.buttonValidatePassword{
    display: inline-block;
    color: green;
    padding: 0px 10px;
}

mat-spinner{
    display: block;
    margin-left: auto;
    margin-right: auto;
}