<div class="changepsswd-container">
    
    <mat-form-field>
        <input matInput placeholder="Nouveau mot de passe :" [formControl]="password" required
        [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="password.errors?.required">Champ requis</mat-error>
        <mat-error *ngIf="password.errors"></mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Cacher le mot de passe'"
        [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    
    <div class="parentButtonValidatepassword">
        <button class="buttonValidatePassword" mat-button color="primary"
          (click)="validatePassword()">Envoyer</button>
        <div *ngIf="error" class="alertError">{{error}}</div>
        <mat-spinner *ngIf="loading" diameter="30"></mat-spinner>
    </div>

</div>