<div class="register-container">
    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" [class.dark]="!lightMode"
        [rowHeight]="rowheight">
        <mat-grid-tile *ngIf="!mobileSize">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="size">
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input matInput placeholder="Nom" [formControl]="lastname" required>
                <button mat-button *ngIf="lastname.value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="lastname.setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="lastname.errors?.required">Champ requis</mat-error>
                <mat-error *ngIf="lastname.errors"></mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!mobileSize">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="size" [class.emailMobileVersion]="mobileSize">
            <mat-form-field appearance="outline">
                <mat-label>Entrer votre mail</mat-label>
                <input matInput placeholder="Entrer votre mail" [formControl]="email" required>
                <button mat-button *ngIf="email.value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="email.setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="email.errors?.required">Champ requis</mat-error>
                <mat-error *ngIf="email.errors?.email">Email non valide</mat-error>
                <mat-error *ngIf="email.errors"></mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!mobileSize">
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!mobileSize">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="size" [class.lastnameMobileVersion]="mobileSize">
            <mat-form-field appearance="outline">
                <mat-label>Prenom</mat-label>
                <input matInput placeholder="Prenom" [formControl]="firstname" required>
                <button mat-button *ngIf="firstname.value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="firstname.setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="firstname.errors?.required">Champ requis</mat-error>
                <mat-error *ngIf="firstname.errors"></mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!mobileSize">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="size" [class.passwdMobileVersion]="mobileSize">
            <mat-form-field appearance="outline">
                <mat-label>Entrer votre mot de passe</mat-label>
                <input matInput placeholder="Entrer votre mot de passe" [formControl]="passwd" required
                    [type]="hide ? 'password' : 'text'">
                <mat-error *ngIf="passwd.errors?.required">Champ requis</mat-error>
                <mat-error *ngIf="passwd.errors?.minlength">Mot de passe trop court</mat-error>
                <mat-error *ngIf="passwd.errors"></mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Cacher le mot de passe'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!mobileSize">
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!mobileSize">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="size" [class.pseudoMobileVersion]="mobileSize">
            <mat-form-field appearance="outline">
                <mat-label>Pseudo</mat-label>
                <input matInput placeholder="Pseudo" [formControl]="username" required>
                <button mat-button *ngIf="username.value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="username.setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="username.errors?.required">Champ requis</mat-error>
                <mat-error *ngIf="username.errors"></mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!mobileSize">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="size">
            <mat-form-field appearance="outline">
                <mat-label>Confirmez votre mot de passe</mat-label>
                <input matInput placeholder="Confirmez votre mot de passe"
                    onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                    [formControl]="passwdControl" required type="password" (input)="passwdControlCheck()">
                <button mat-button *ngIf="passwdControl.value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="passwdControl.setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="passwdControl.errors?.required">Champ requis</mat-error>
                <mat-error *ngIf="passwdControl.errors?.unmatch">Mots de passe differents</mat-error>
                <mat-error *ngIf="passwdControl.errors"></mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!mobileSize">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="sizeBig" *ngIf="!mobileSize">
        </mat-grid-tile>
        <mat-grid-tile class="containerSuccess">
            <div>
                <button mat-raised-button color="primary" *ngIf="!loading" (click)="register()">S'inscrire</button>
                <mat-spinner *ngIf="loading" diameter="30"></mat-spinner>
            </div>
            <div *ngIf="error" class="alertError"><p>{{error}}</p></div>
            <div *ngIf="success" class="alertSuccess"><p>{{success}}</p></div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="sizeBig" *ngIf="!mobileSize">
        </mat-grid-tile>
    </mat-grid-list>
</div>