.blur{
    filter: blur(15px) brightness(0.7); 
    -webkit-filter: blur(15px) brightness(0.7);
    display: block;
    visibility: visible;
}
.hidden{
    display: none;
    visibility: hidden;
}
.containerHome{
    text-align: center;
}