<mat-expansion-panel class="panel" disabled="true" hideToggle class="panel">
    <mat-expansion-panel-header class="header">
        <mat-panel-title>
            {{title}}
        </mat-panel-title>
        <mat-panel-description class="description">
            <div>
                Unités : {{count}}
                 ----- 
                Cout unitaire : {{unitCost}}
                 ----- 
                Cout total : {{totalCost}}
            </div>
        </mat-panel-description>
    </mat-expansion-panel-header>
</mat-expansion-panel>