
.cartContainerHistory.dark{
    color: white;
}
.cartContainerHistory{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: center;
    color: black;
}
.cartContainerHistory .panel{
    background-color: lightgray !important;
}
.mat-expansion-panel-header{
    color: black;
}
.mat-expansion-panel-header{
    padding:0px 5px;
}
.mat-expansion-panel-header-description,
.mat-expansion-panel-header-title{
    margin-right: 0px;
}
.mat-expansion-panel-header-title{
    padding-left: 10px;
}
.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description div{
    padding-right: 10px;
}
@media(max-width:930px){
    .cartContainerHistory{
        width: 70vw;
    }
}
@media(max-width:600px){
    .cartContainerHistory{
        width: 100vw;
    }
}