<div class="cartContainer">
    <mat-expansion-panel hideToggle class="panel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{movieTitle}}
            </mat-panel-title>
            <mat-panel-description class="description">
                <div>
                    Achat le : {{BuyDate}}
                </div>
                <div>
                    Cout total : {{TotalCost}}
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
</div>