<div class="containerHome" [class.dark]="!lightMode">
    <div class="containerRow">
        <div class="header"><span>En ce moment ils cartonnent :</span></div>
        <div class="content">
            <button class="before" (click)="totheleft()"></button>
            <div class="row" id="row">
                <div class="category">
                    <div class="row__inner">
                        <div class="tile">
                            <div class="cover fadein"
                                style='background-image: url("https://upload.wikimedia.org/wikipedia/en/2/23/Deadpool_%282016_poster%29.png");'>
                            </div>
                            <div class="overlay">
                            </div>
                        </div>
                        <p class="title">DeadPool</p>
                        <p class="year">2 Octobre 2016</p>
                    </div>
                    <div class="row__inner">
                        <div class="tile">
                            <div class="cover fadein"
                                style='background-image: url("https://upload.wikimedia.org/wikipedia/en/2/23/Deadpool_%282016_poster%29.png");'>
                            </div>
                            <div class="overlay">
                            </div>
                        </div>
                        <p class="title">DeadPool</p>
                        <p class="year">2 Octobre 2016</p>
                    </div>
                    <div class="row__inner">
                        <div class="tile">
                            <div class="cover fadein"
                                style='background-image: url("https://upload.wikimedia.org/wikipedia/en/2/23/Deadpool_%282016_poster%29.png");'>
                            </div>
                            <div class="overlay">
                            </div>
                        </div>
                        <p class="title">DeadPool</p>
                        <p class="year">2 Octobre 2016</p>
                    </div>
                    <div class="row__inner">
                        <div class="tile">
                            <div class="cover fadein"
                                style='background-image: url("https://upload.wikimedia.org/wikipedia/en/2/23/Deadpool_%282016_poster%29.png");'>
                            </div>
                            <div class="overlay">
                            </div>
                        </div>
                        <p class="title">DeadPool</p>
                        <p class="year">2 Octobre 2016</p>
                    </div>
                    <div class="row__inner">
                        <div class="tile">
                            <div class="cover fadein"
                                style='background-image: url("https://upload.wikimedia.org/wikipedia/en/2/23/Deadpool_%282016_poster%29.png");'>
                            </div>
                            <div class="overlay">
                            </div>
                        </div>
                        <p class="title">DeadPool</p>
                        <p class="year">2 Octobre 2016</p>
                    </div>
                </div>
                <div class="category">
                    <div class="row__inner">
                        <div class="tile">
                            <div class="cover fadein"
                                style='background-image: url("https://upload.wikimedia.org/wikipedia/en/2/23/Deadpool_%282016_poster%29.png");'>
                            </div>
                            <div class="overlay">
                            </div>
                        </div>
                        <p class="title">DeadPool</p>
                        <p class="year">2 Octobre 2016</p>
                    </div>
                </div>
            </div>
            <button class="after" (click)="totheright()"></button>
        </div>
    </div>
    <div class="bottomRow">
        <span class="bottomRowHeader">Sur ce site vous trouverez :</span>
        <div class="containerBlackBloc">
            <div class="blackbloc left">
                <p>Un total de {{nbMovies}} films uniques ! tous telechargabes!</p> 
            </div>

            <div class="blackbloc center">
                <p>Avec tous vos acteurs favoris car nous en avons repertoriées : {{nbActors}} !</p> 
            </div>

            <div class="blackbloc right">
                <p>Nous avons aussi repertoriées {{nbAutors}} réalisateurs differents !</p> 
            </div>
        </div>
    </div>
</div>