<div class="containerHome" [class.dark]="!lightMode">
    <div class="containerRow">
        <div class="header"><span>En ce moment ils cartonnent :</span></div>
        <div class="content">
            <button class="before" (click)="totheleft()"></button>
            <div class="row" id="row">
                <div class="category">
                    <div class="row__inner" *ngFor="let movie of movies">
                        <div class="tile">
                            <div class="cover fadein" [ngStyle]="image(movie.movieImagePath)"></div>
                        </div>
                        <p class="title">{{movie.movieTitle}}</p>
                        <p class="year">{{formatDate(movie.movieDate)}}</p>
                    </div>
                </div>
            </div>
            <button class="after" (click)="totheright()"></button>
        </div>
    </div>
    <div class="bottomRow">
        <span class="bottomRowHeader">Sur ce site vous trouverez :</span>
        <div class="containerBlackBloc">
            <div class="blackbloc left">
                <p>Un total de {{nbMovies}} films uniques ! tous telechargabes!</p> 
            </div>

            <div class="blackbloc center">
                <p>Avec tous vos acteurs favoris car nous en avons repertoriées : {{nbActors}} !</p> 
            </div>

            <div class="blackbloc right">
                <p>Nous avons aussi repertoriées {{nbAutors}} réalisateurs differents !</p> 
            </div>
        </div>
    </div>
</div>