
<div class="containerHome" [class.dark]="!lightMode">
    <div class="containerRow">
        <div class="header"><span>TOP 5 :</span></div>
        <div class="content">
            <button class="before" (click)="totheleft()"></button>
            <div class="row" id="row">
                <div class="category">
                    <div class="row__inner" *ngFor="let movie of movies">
                        <div class="tile">
                            <div class="cover fadein" [ngStyle]="image(movie.movieImagePath)"></div>
                        </div>
                        <p class="title">{{movie.movieTitle}}</p>
                        <p class="year">{{formatDate(movie.movieDate)}}</p>
                    </div>
                </div>
            </div>
            <button class="after" (click)="totheright()"></button>
        </div>
    </div>
    <div class="presentation">
        <p>Depuis la création d’Elokuvia, nous poursuivons fidèlement une politique de distribution et de production qui est
        fermement attachée à soutenir le cinéma.</p>
        
        <p>Poussés par la curiosité, animés par une réelle ambition de contribuer à la diversité et à la richesse de
        l’offre cinématographique, nous cherchons à diffuser des films exigeants, qualitatif, venus de tous les horizons.</p>
        
        <p>Le catalogue d’Elokuvia reflète bien sûr ce choix : il est constitué de longs-métrages, de fictions, 
        de premiers films et de films d’auteurs connus, de productions françaises et internationales.</p>
    </div>
    <div class="bottomRow">
        <span class="bottomRowHeader">Sur ce site vous trouverez :</span>
        <div class="containerBlackBloc">
            <div class="blackbloc">
                <p>Un total de {{nbMovies}} films uniques ! tous telechargabes!</p> 
            </div>

            <div class="blackbloc">
                <p>Avec tous vos acteurs favoris car nous en avons repertoriées : {{nbActors}} !</p> 
            </div>

            <div class="blackbloc">
                <p>Nous avons aussi repertoriées {{nbAutors}} réalisateurs differents !</p> 
            </div>
        </div>
    </div>
</div>