
<div class="actor" *ngIf="display_mode.display==='actor'">
    <mat-form-field>
        <input matInput placeholder="Nom :" [formControl]="lastname" required>
        <mat-error *ngIf="lastname.errors?.required">Champ requis</mat-error>
        <mat-error *ngIf="lastname.errors"></mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Prénom :" [formControl]="firstname" required>
        <mat-error *ngIf="firstname.errors?.required">Champ requis</mat-error>
        <mat-error *ngIf="firstname.errors"></mat-error>
    </mat-form-field>

    <div class="parentButtonValidate">
        <button class="buttonValidate" mat-button color="primary"
        (click)="addActor()">Envoyer</button>
        <div *ngIf="error" class="alertError">{{error}}</div>
        <mat-spinner *ngIf="loading" diameter="30"></mat-spinner>
    </div>
</div>

<div class="actor" *ngIf="display_mode.display==='author'">
    <mat-form-field>
        <input matInput placeholder="Nom :" [formControl]="lastname" required>
        <mat-error *ngIf="lastname.errors?.required">Champ requis</mat-error>
        <mat-error *ngIf="lastname.errors"></mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Prénom :" [formControl]="firstname" required>
        <mat-error *ngIf="firstname.errors?.required">Champ requis</mat-error>
        <mat-error *ngIf="firstname.errors"></mat-error>
    </mat-form-field>

    <div class="parentButtonValidate">
        <button class="buttonValidate" mat-button color="primary"
        (click)="addAuthor()">Envoyer</button>
        <div *ngIf="error" class="alertError">{{error}}</div>
        <mat-spinner *ngIf="loading" diameter="30"></mat-spinner>
    </div>
</div>

<div class="category" *ngIf="display_mode.display==='category'">
    <mat-form-field>
        <input matInput placeholder="Catégorie :" [formControl]="category" required>
        <mat-error *ngIf="category.errors?.required">Champ requis</mat-error>
        <mat-error *ngIf="category.errors"></mat-error>
    </mat-form-field>

    <div class="parentButtonValidate">
        <button class="buttonValidate" mat-button color="primary"
        (click)="addCategory()">Envoyer</button>
        <div *ngIf="error" class="alertError">{{error}}</div>
        <mat-spinner *ngIf="loading" diameter="30"></mat-spinner>
    </div>
</div>