footer {
    position: relative;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background: #666;
    color: white;
}

p{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}
@media (max-width: 839px)  {
  footer{
      height: 30px;
      font-size: 10px;   
  }
}