footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background: #666;
    color: white;
    /*width: 100%;*/
}

p{
  margin-left: 15px;
}