<div class="cartContainer" [class.notConnected]="!currentUser">
  <button (click)="CreateComponentCartItem()">click</button>
  <div #itemcontainer></div>
  <button *ngIf="items && currentUser" mat-raised-button color="primary" class="BuyButton" (click)="buy()">buy</button>
  <button *ngIf="items && !currentUser" mat-raised-button color="primary" class="LoginRegister" (click)="login()">Se connecter</button>
  <button *ngIf="items && !currentUser" mat-raised-button color="primary" class="LoginRegister" routerLink="/register">S'inscricre</button>
</div>