<div class="cartContainer">
  <app-user-cart-item *ngFor="let item of this.cart" [cartItem]="item" [cart]="this"></app-user-cart-item>
  <div class="parentCost">
    <span *ngIf="items" class="cost">Coût total : {{totalCost}} €</span>
  </div>
  <button *ngIf="items && getUser" mat-raised-button color="primary" class="BuyButton" (click)="buy()"><span>Payer</span>
    <mat-icon>payment</mat-icon></button>
  <button *ngIf="items && !getUser" mat-raised-button color="primary" class="LoginRegister" (click)="login()">Se connecter</button>
  <button *ngIf="items && !getUser" mat-raised-button color="primary" class="LoginRegister" routerLink="/register">S'inscrire</button>
</div>