.movieCardContainer{
    display: block;
    color: white;
    width: 100vw;
    height: 50vh;
    text-align: left;
    position: relative;
    background-color: black;
}
.playercontainer{
    display: block;
    position: absolute;
    right: 0px;
    width: 60vw;
    height: 50vh;
}
.playercontainer iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
 }
.actionContainer{
    display: block;
    position: relative;
    left: 35px;
    width: calc(40vw - 35px);
    height: 40vh;
}
.actionContainer p{
        display: block;
        word-wrap: wrap;
        word-break: break-all;
        margin: 0px;
        padding: 0px;
        width: 100%;
}

.title{
    font-size: 30px;
}
.yearAndDuration{
    font-style: italic;
    font-size: 20px;
}
.synopsis{
    font-size: 15px;
    word-break: break-word;
    word-wrap: break-word;
    width: 35vw;
}
.nowMore,.synopsis,.rating,.yearAndDuration,.title,.actors{
    margin-bottom: 5px !important;
}
.addCartButton{
    background-color: green !important;
}
.rating{
    display: inline-block;
}

.closebtn{
    display: inline-block;
    left: 2px;
    top: -5px;
    position: absolute;
}
.realisators{
    font-style: italic;
    font-size: 14px;
}
.actors{
    font-size: 12px;
}
.categories{
    font-size: 12px;
}