/* You can add global styles to this file, and also import other style files */

html, body { 
    min-height: 100vh;
    height: auto;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #666666;
    color: white;
 }

body { 
     overflow: hidden;
}
mat-spinner{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
app-movie-preview{
    display: inline-block !important;
}
.dark .mat-sidenav-container {
    background-color: #222222 !important;
  }
  
.mat-toolbar{
    color: white;
    background-color: #333333;
}
.dark .mat-dialog-container{
    background-color: silver !important;
}
@media (max-width: 697px)  {
   p{
    font-size: 10px;
    }
}