/* You can add global styles to this file, and also import other style files */

html, body { 
    min-height: 100vh;
    height: auto;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
 }
body { 
     overflow: hidden;
}


.mat-toolbar {
    color: white;
    background-color: #333333;
}
@media (max-width: 697px)  {
   p{
    font-size: 10px;
    }
}