<div class="CommentRow">
    <div class="userdetails">
        <mat-icon class="userIcon">person_outline</mat-icon>
        <span>{{username}}</span>
        <span>{{date}}</span>
    </div>
    <div class="UserComment">
        <span *ngIf="!user || username !== user.userLogin">{{commentContent}}</span>
        <div class="textAreaContainer" *ngIf="user && username === user.userLogin">
            <textarea class="textareaField" matInput cdkTextareaAutosize>
                {{commentContent}}
            </textarea>
        </div>
    </div>
    <div *ngIf="comment.image?.length > 0" class="ContainerImages">
        <div class="Images">
            <div *ngFor="let image of comment.images">
                <img [src]="image.url" />
                <button *ngIf="user && username === user.userLogin" class="buttonDeleteImage" mat-icon-button
                    (click)="DeleteImage(comment,image)">
                    <mat-icon class="buttonClear">clear</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="actionButtonsContaiener" *ngIf="user && username === user.userLogin">
        <div class="buttonsActionsCommentUser">
            <button (click)="DeleteComment(comment)" class="buttonDelete" mat-raised-button>
                Supprimer<mat-icon class="icones">clear</mat-icon>
            </button>
            <button mat-raised-button class="buttonLoadFile" (click)="fileInput.click()">
                Ajouter une image<mat-icon class="icones">attach_file</mat-icon>
            </button>
            <input hidden (change)="onFileSelected()" #fileInput type="file" id="file" />
            <button (click)="SaveComment(comment)" class="buttonSave" mat-raised-button>
                Sauvarder<mat-icon class="icones">save</mat-icon>
            </button>
        </div>
    </div>
</div>