.login-container {
    display: flex;
    flex-direction: column;
}

.alertError{
    color: red;
}

.header{
    word-break: break-word;
    text-align: justify;
}
.activation-container{
    text-align: center;
}
.activation-container .mat-form-field{
    width:100%;
    padding-top: 20px;
}
.forgetPassword-field{
    width:100%;
}

.sendEmailForggetPassword{
    display: inline-block;
}
.forgetPasswordButton{
    display: inline-block;
    text-decoration: underline;
    width: 125px !important;
    margin: 0px;
    padding: 0px 5px;
    background: none;
    border: none;
    color: rgba(0,0,0,.6);
}
.parentButtonSendEmail{
    text-align: center;
}
.registerbutton{
    width: 80px !important;
    margin: 0px;
    padding: 0px 10px;
    display: inline-block;
}
.loginbutton{
    color: green;
    padding: 0px 10px;
}
mat-spinner{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mat-dialog-container{
    width:350px;
}
@media(max-width:450px){

    .forgetPasswordButton{
        padding: 10px 0px;
        font-size: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 120px !important;
    }
    .registerbutton,
    .loginbutton{
        width: 100px !important;
        font-size: 14px;
        display: inline-block;
        padding: 0px 15px;
    }
    .header{
        font-size: 15px;
        margin: 5px 0px;
    }
}
