<div class="login-container">
    <mat-form-field>
      <input matInput placeholder="Entrer votre mail" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input matInput placeholder="Entrer votre mot de passe" [formControl]="passwd" required [type]="hide ? 'password' : 'text'"> 
        <mat-error *ngIf="passwd.invalid">{{getErrorMessage()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Cacher le mot de passe'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <br/>
    <button mat-button color="primary" *ngIf="!loading" (click)="login()">Connection</button>
    <div *ngIf="error" class="alertError">{{error}}</div>
    <mat-spinner *ngIf="loading" diameter="30"></mat-spinner>
</div>