.login-container {
    display: flex;
    flex-direction: column;
}

.login-container > * {
    width: 300px;
}

.alertError{
    color: red;
}
.activation-container{
    text-align: center;
}
.activation-container .mat-form-field{
    width:305px;
    padding-top: 20px;
}

mat-spinner{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mat-dialog-container{
    width:350px;
}
@media(max-width:400px){
    .login-container > *{
        width: 67vw;
    }
}
