.checkpsswd-container {
    display: flex;
    flex-direction: column;
}

.forgetPasswordButton{
    cursor: pointer;
}

.alertError{
    color: red;
}

.parentButtonValidatepassword,.parentSendEmail{
    text-align: center;
}

.forgetPasswordButton{
    display: inline-block;
    text-decoration: underline;
    width: 125px !important;
    margin: 0px;
    padding: 0px 5px;
    background: none;
    border: none;
    color: rgba(0,0,0,.6);
}

.buttonValidatePassword,.sendEmail{
    display: inline-block;
    color: green;
    padding: 0px 10px;
}

mat-spinner{
    display: block;
    margin-left: auto;
    margin-right: auto;
}