<div class="checkpsswd-container">
    <mat-form-field>
        <input matInput placeholder="Entrer votre mot de passe pour confirmer :" [formControl]="confPasswd" required
        [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="confPasswd.errors?.required">Champ requis</mat-error>
        <mat-error *ngIf="confPasswd.errors?.unmatch">Mot de passe incorrect</mat-error>
        <mat-error *ngIf="confPasswd.errors"></mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Cacher le mot de passe'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <div class="parentButtonValidatepassword">
        <button class="buttonValidatePassword" mat-button color="primary"
          (click)="validatePassword()">Envoyer</button>
        <div *ngIf="error" class="alertError">{{error}}</div>
        <mat-spinner *ngIf="loading" diameter="30"></mat-spinner>
    </div>
    <div class="parentButtonValidatepassword">
        <button class="forgetPasswordButton" (click)="forgetPassword()">Mot de passe oublié ?</button>
    </div>
</div>